<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- start container -->

        <!-- start hero-block -->
        <div class="hero-block">
            <div class="header">
                <div class="header__navigation">
                    <a href="">
                        <img src="./img/navigation.svg" alt="navigation">
                    </a>
                </div>
                <div class="header__title">
                    <span>Portofolio</span>
                </div>
            </div>
            <div class="hero-block__information">
                <div class="hero-block__information__main-title">
                    Hi, It’s Théophile Seyrig
                </div>
                <div class="hero-block__information__second-title">
                    Designer from Porto, Portugal
                </div>
                <div class="hero-block__information__latest-works">
                    <a href="#"> Latest works</a></div>
            </div>
        </div>
        <!-- close hero-block -->

        <!-- start about -->
        <div class="about">
            <div class="about__title">
                <span>About</span>
            </div>
            <div class="about__information">
                <p>Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor
                    nulla nulla egestas odio pharetra egestas aliquet mollis. Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur
                    adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis. diam penatibus aliquet tellus, in rutrum augue. Pellentesque.</p>
            </div>
        </div>
        <!-- close about -->

    </div>
    <!-- close container -->
</body>

</html>