<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- start container -->

        <!-- start hero-block -->
        <div class="hero-block">
            <div class="header">
                <div class="header__navigation">
                    <div class="header__navigation-title">
                        <span>Portofolio</span>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Skills</a>
                        </li>
                        <li>
                            <a href="">Portfolio</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="header__navigation">
                    <a href="">
                        <img src="./img/navigation.svg" alt="navigation">
                    </a>
                </div> -->

            </div>
            <div class="hero-block__information">
                <div class="hero-block__information__main-title">
                    Hi, It’s Théophile Seyrig
                </div>
                <div class="hero-block__information__second-title">
                    Designer from Porto, Portugal
                </div>
                <div class="hero-block__information__latest-works">
                    <a href="#"> Latest works</a></div>
            </div>
        </div>
        <!-- close hero-block -->

        <!-- start about -->
        <div class="about">
            <div class="about__title">
                <span>About</span>
            </div>
            <div class="about__information">
                <p>Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor
                    nulla nulla egestas odio pharetra egestas aliquet mollis. <br><br> Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed.
                    Consectetur adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis. diam penatibus aliquet tellus, in rutrum augue. Pellentesque.</p>
            </div>
        </div>
        <!-- close about -->
        <!-- start skills -->
        <div class="skills">
            <div class="profile_title">
                <span>
                    Skills
                </span>
            </div>
            <div class="profile-images"><img src="./img/profile-picture.svg" alt=""></div>
            <div class="profile-details">
                <div class="profile-details-block-left-side">
                    <span class="col-1">Profile</span>
                    <span class="col-2">Front-end Dev</span>
                    <span class="col-3">Tools</span>
                    <span class="col-4">UI Design</span>
                    <span class="col-5">Tools</span>
                    <span class="col-6">UX Research</span>
                    <span class="col-7">Tools</span>

                </div>
                <div class="profile-details-block-right-side">
                    <span class="col-1">UI / UX Engineer, Front-end Developer</span>
                    <span class="col-2"><img src="./img/progress-bar.svg" alt=""></span>
                    <span class="col-3">HTML, CSS, JS, Bootstrap, Reactols</span>
                    <span class="col-4"><img src="./img/progress-bar.svg" alt=""></span>
                    <span class="col-5">Adobe PS, AI, XD, Figma, InVision</span>
                    <span class="col-6"><img src="./img/progress-bar.svg" alt=""></span>
                    <span class="col-7">Paper, Pen, Balsamiq</span>
                    <!-- <img src="./img/progress-bar.svg" alt=""> -->
                </div>

            </div>
        </div>
        <!-- close skills -->
        <!-- start portfolio -->
        <div class="portfolio">
            <div class="portfolio__title">
                <span class="portfolio__title-main">Portfolio</span>
                <span class="portfolio__title-second">UX Research</span>
            </div>
            <div class="portfolio__info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.</p>
            </div>
            <div class="portfolio__images">
                <div class="side-left">
                    <img class="portfolio-images" src="./img/portfolio_img-1.svg" alt="portfolio img-1">
                    <img src="./img/portfolio_img-2.svg" alt="portfolio img-2">

                </div>
                <div class="side-right">
                    <img class="portfolio-images" src="./img/portfolio_img-3.svg" alt="portfolio img-3">
                    <img src="./img/portfolio_img-4.svg" alt="portfolio img-4">
                </div>
            </div>
            <!-- close portfolio -->
            <!-- start Get_in_touch -->
            <div class="Get__in__touch">
                <div class="Get__in__touch-title"><span>Get in Touch</span></div>
                <div class="Get__in__touch-details">
                    <div class="side left">
                        <span>Dribbble</span>
                        <span>Behance</span>
                        <span>CodePen</span>
                        <span>GitHub</span>
                        <span>Medium</span>

                    </div>
                    <div class="side">
                        <span>LinkedIn</span>
                        <span>Facebook</span>
                        <span>Instagram</span>
                        <span>Twitter</span>
                    </div>

                </div>
                <div class="Get__in__touch-footer">
                    <p>seyrig@mailme.com <br> + 55 6645 665544</p>
                    <span><img src="./img/arrow.svg" alt=""></span>
                </div>
            </div>
            <!-- end Get_in_touch -->
        </div>
        <!-- close container -->
</body>

</html>